.theme-toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #999ca3;
  cursor: pointer;
  border: none;
}

.theme-toggle::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--bg-primary);
  transition: all 0.3s;
}

.theme-toggle.light::after {
  left: 3px; 
}

.theme-toggle.dark::after {
  left: 33px; 
}
